
/*start animation1   www */
#animation1 {
padding: 200px;
padding-right: 70px;
font-family: 'Abel', sans-serif;
font-weight: lighter;
font-size: 80px;
width:10px;
transition:all 2s;
transform:scaleX(3);
  /*-webkit-animation: animation1 2s infinite; /* Safari 4.0 - 8.0 */
/*animation: animation1 2s infinite;*/
}

#animation1:hover{
  transform:scaleY(3.3);
}

.transformhorizontal{
  padding-left: 290px;
}
/*start transition shaking ooo*/

.shaking{
padding: 100px;
padding-left: 300px;

}

#row1, #row2, #row3 {
  font-size: 50px;
  font-family: 'Alfa Slab One', cursive;
}

#row1{
  -webkit-animation: shake 0.6s infinite; /* Safari 4.0 - 8.0 */
    animation: shake 0.6s infinite;
}

#row2{
  -webkit-animation: shake 0.3s infinite; /* Safari 4.0 - 8.0 */
    animation: shake 0.3s infinite;
}

#row3{
  -webkit-animation: shake 1s infinite; /* Safari 4.0 - 8.0 */
    animation: shake 1s infinite;
}

#row1:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#row2:hover {
  animation: shake 0.1s;
  animation-iteration-count: infinite;
}

#row3:hover {
  animation: shake 0.3s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/*end transition shaking ooo*/

/*start animationpoetry*/
.poetrymain {padding-left: 300px;}
.title{
  text-align: center;
  padding: 100px;
}

.titlecell h1{
font-family: 'Raleway Dots', cursive;
font-size: 80px;
}

#animationpoetry{
  font-size:25px;
  font-family: 'Caveat', cursive;
}

#animationpoetry:hover
{
  -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.imagine h2{
  font-family: 'Raleway', sans-serif;
  font-size:23px;
  text-align: center;
  text-transform: uppercase;

}

.thumbnails{
  padding: 0px;
}
/*end animationpoetry*/

/*start sprite*/
.spritehorizontal{
  padding-left: 50px;
  padding-top: 150px;
}
.sprite{
padding: 200px;
}
.spritecell{
  padding-left: 330px;
}
.heartbeat {
    width: 300px;
    height: 179px;
  background-image: url("../img/heartbeat.jpg");

    -webkit-animation: play .9s steps(5) infinite;
       -moz-animation: play .9s steps(5) infinite;
        -ms-animation: play .9s steps(5) infinite;
         -o-animation: play .9s steps(5) infinite;
            animation: play .9s steps(5) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -600px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -600px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -600px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -600px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -600px; }
}
/*end sprite*/
